[staticPage]
useContent = 1
default = 1

[staticMenu]
code = "main"
==
<html>
    <head>
        <meta charset="UTF-8" />
        <title>jetsetrobots</title>
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link
            href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ 'assets/tailwind.css'|theme }}" />
        <link rel="stylesheet" href="{{ 'assets/styles.css'|theme }}" />
    </head>
    <body class="bg-black container mx-auto py-1">
        <div class="flex">
            <div>jet.set.robots</div>
            {% component 'staticMenu' %}
        </div>        
        <article class="prose">            
            {% component 'staticPage' %}            
        </article>
    </body>
</html>